# .NET compiled files
BL/obj/Debug/net6.0/*
.obj/*
WebApplication2/obj/Debug/net6.0/*

# Code Editor caches
.vs/*
.vscode/*

# program.cs 
.fake
.ionide

/WebApplication2/appsettings.json
/WebApplication2/appsettings.Development.json
/WebApplication2/obj/project.assets.json
/WebApplication2/obj/project.nuget.cache
BDA/bin
BDA/obj
BE/bin
BE/obj
BL/bin
BS/bin
BS/obj
ConsoleLab02/obj
Lab01/obj
Laboratorio02/obj
WebApplication1/bin
WebApplication1/obj
WebApplication2/bin
WebApplication2/obj
BL/obj/project.assets.json
BL/obj/project.nuget.cache
